.vscode/**
.vscode-test/**
node_modules/.package-lock.json
node_modules/@types
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
LICENSE
LICENSE.md
LICENSE.txt
